html {
    scroll-behavior: smooth;
}
.body {
    
    /*background-color: rgba(177, 177, 177, 0.555);*/
} 
.navbar {
    margin-left: 0px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 17%, rgba(246,246,246,1) 38%, rgba(237,238,240,1) 50%, rgba(235,235,235,1) 67%, rgba(241,241,241,1) 81%, rgba(241,241,241,1) 90%, rgba(235,235,235,1) 95%);
  /*  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
}
.text {
    color: rgb(34, 62, 219);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px ;
}
#lista-main-page {
    list-style: none;
    display: inline-block;
}
.imagini-carousel
{
   height: 750px;
}
.buton-de-back
{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
/*.wave
{
   margin-top:-200px;
}
#wave
{
    width: 100%;
    z-index: 3;
} */
.text-despre
{
   text-align: center;
  font-size: 40px;
}
hr
{
    background-color:#223edb ;
}
.descriere-pagina-principala
{
    text-align: justify;
    margin-left: 5%;
    font-size: 22px;
    transition-duration: 0.3s;
}
.descriere-pagina-principala:hover
{
    color:rgb(177, 21, 216);
    font-size: 200%;
}
#imagine-despre-code
{
    width: 50px;
    height: 60px;  
    float: right;
    
}

#imagine
{
    margin-left: 45px;
}
#despre
{
    background-color: rgba(211, 211, 211, 0.226);
}
.imagini-card-main
{
   position: relative;
   margin-left: 30px;
   margin-top: 10px;
}


#contact
{
  position: relative;
  text-align: center;
  color: white;
}  

.mesaj-contact
{
   position: absolute  ;
   bottom: 100px;
   left: 50px;
}
#contact-text
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#href-contact
{
    color: white;
    text-decoration: none;
}
#href-contact:hover
{
    color: rgb(49, 222, 245);
    text-decoration: underline;
}
#body-python
{

}
#container-descriere-pythonPage
{
    background-color: rgba(233, 233, 233, 0.712);
    margin-top: 10%;
}
.text-pythonPage
{
    margin-top: 2%;
    padding-right: 5%;

}
#imagine-javascript-javascriptPage
{
    height: 200px;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 50%;
    transition-duration: 1s;
}
#imagine-javascript-javascriptPage:hover
{
    border-radius: initial;
}

table, th, td {
    border: 1px solid rgb(59, 47, 233);
    border-collapse: collapse;
    text-align: center;
    
  }
  #imagine-sql-sqlPage
  {
      border-radius: 50%;
      transition-duration: 1s;
  }
  #imagine-sql-sqlPage:hover
  {
      border-radius: initial;
  }